html
{
	text-align: center;
	width: 100%;
}

html
{
	height: 100%;
	margin-bottom: 1px;
}

body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #505050;
	width: 100%;
	font-family: Tahoma;
	font-size: 11px;
	text-align: center;
	height: 100%;
}

td
{
	text-align: left;
	font-family: Tahoma;
	font-size: 11px;
	color: #505050;
}

img
{
	border: 0;
}

a
{
	color: #0033CC;
	text-decoration: underline;
}
a:hover
{
	color: #0033CC;
	text-decoration: underline;
}

.LinkDisabled
{
	color: #999999;
	text-decoration: underline;
}


