body
{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;		
	padding:3px;
	background-image: none;
	margin: 0px;
	text-align: left;
	scrollbar-face-color: #E9E9E9;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E9E9E9;
	scrollbar-3dlight-color: #DBDBDB;
	scrollbar-arrow-color: #787878;
	scrollbar-track-color: #F5F5F5;
	scrollbar-darkshadow-color: #AEAEAE;
	word-wrap: break-word;
}
form
{
	background-color:#efefef;
	border:1px dashed #555555;	
	font-family: Tahoma;
	font-size: 11px;	
}
table
{
	BORDER-RIGHT: #999999 1px dashed;
	BORDER-BOTTOM: #999999 1px dashed;
	font-family: Tahoma;
	font-size: 11px;		
}
table td
{
	PADDING: 1px;
	BORDER-TOP: #999999 1px dashed;
	BORDER-LEFT: #999999 1px dashed;
}
table th
{
	PADDING: 1px;
	BORDER-TOP: #000000 1px dashed;
	BORDER-LEFT: #000000 1px dashed;
}

hr
{
	background-color: #C8C8C8;
	height: 2px;
	#margin-bottom: -10px;
	#margin-top: -5px;
}

img
{
	display: block;
}