<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ApplicationId" value="CVUDES_Professor"/>
		<add key="ApplicationManager" value="EEW_MANAGER"/>
		<add key="SessionTime" value="30"/>
		<add key="EmailAddress" value="contratacion@cvudes.edu.co"/>
		<add key="EmailName" value="Administración Contratación Docente"/>
		<add key="CancelURL" value="http://www.cvudes.edu.co"/>
		<add key="SmtpClient" value="smtp.gmail.com" />
		<add key="AccountMail" value="correos.inscripciones@cvudes.edu.co" />
		<add key="PassMail" value="PLM159xx" />
		<add key="urlWebApp" value="http://localhost:3153/SignIn.aspx" />
		<add key="urlActivation" value="http://localhost:3153/Public/Register/Activation.aspx" />
		<add key="urlFormRegister" value="/Public/Recruitment/Default.aspx" />
		<add key="AllowPasswordReset" value="0"/>
		<add key="AllowLanguageSelection" value="0"/>
		<!--<add key="AllowTraceNoteOnCreate" value="1"/>
		<add key="AllowTraceNoteOnEdit" value="1"/>
		<add key="AllowTraceNoteOnDelete" value="1"/>
		<add key="Telerik.EnableEmbeddedSkins" value="true"/>
		<add key="Telerik.Skin" value="Default"/>
		CONFIGURACION CRYSTAL REPORTS
		<add key="ServerName" value="172.17.101.20\SQL2008"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="3ryder33*#"/>
		<add key="DatabaseName" value="EEW_AulaVirtual"/>
		<add key="ServerName" value="(local)"/>
		<add key="DatabaseName" value="CVUDES_EAIE_AulaVirtual"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="CVudes2011"/>
		FIN CONFIGURACION CRYSTAL REPORTS-->
	</appSettings>
	<connectionStrings>
		<add name="ConexionDB" connectionString="Data Source = (local); initial catalog = CVUDES_Professor; uid = sa; password = CVudes2011" providerName="System.Data.SqlClient"/>
		<!--<add name="ConexDbMng" connectionString="Data Source = (local); initial catalog = CVUDES_EAIE_Manager; uid = sa; password = sa123456" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
  <system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
    <authentication mode="Forms">
      <forms loginUrl="/SignIn.aspx" protection="All" path="/" timeout="90"/>
    </authentication>
	</system.web>
</configuration>


